
<div class="container" style="width: auto; background-color: black; margin: 40px 50px 0px 50px;">
		<center style= "margin: 0px -50px 0px -50px;"><div style="background-color: white; width: 70%; border: 5px solid red;">
			<center><h1>About Us</h1></center>
		    <div class="container about" style="margin: auto; width: 95%; border: 1px solid black; margin-bottom: 20px;">
			   <p  style="width: auto;"><p style="text-align: left; font-size: 15px; line-height: 30px; color: black; width: auto;"><span><%= t('about_us_page')%> </span> <a href="postadz.com">PostAdz.com</a><span><%= t('about_us_page2') %> </span></p></p>
			</div>
	    </div></center>
	</div>