


<div class="container" style="width: auto; background-color: white;">
	<center><h1>About Us</h1></center>
	<hr class="style-up">
	<hr class="style-three">
    <div style="margin: 50px;">
	   <p style="text-align: justify; font-size: 15px; line-height: 30px; color: black; width: auto;"><%= @description%></p>
	</div>
	<hr class="style-up">
	<hr class="style-three">
</div>