	<div class="container" style="width: auto; background-color: black; width: 70%;">
	<%if current_user.present?%>
     <%= link_to "Live Ads", published_adz_post_ads_path(cat_id: 2, city_id: 2, category_id: 7), :class=>"btn", :style => " background-color: white; font-weight: bold; margin-top: 20px; color: black; float: right; " %>
     <% end %>
    </div>
	<div class="container" style="width: auto; background-color: black; margin: 5px 50px 0px 50px;">
		<center style= "margin: 0px -50px 0px -50px;"><div style="background-color: white; width: 70%; border: 5px solid red;">
			<center><h1>About Us</h1></center>
		    <div class="container about" style="margin: auto; width: 95%; border: 1px solid black; margin-bottom: 20px;">
			   <p  style="width: auto;"><%= @description.html_safe%></p>
			</div>
	    </div></center>
	</div>