


<div class="container" style="width: auto; background-color: white;">
	<center><h1>About Us</h1></center>
	<hr class="style-up">
	<hr class="style-three">
    <center><div class="container about" style="margin: auto; width: 70%; border: 1px solid black;">
	   <p  style="width: auto;"><%= @description.html_safe%></p>
	</div></center>
	<hr class="style-up " >
	<hr class="style-three">
</div>