
<div class="container" style="width: auto; background-color: white; padding-bottom: 20px;">
<center><h1>Contact Us</h1></center>


<div class="container" style="width: auto; background-color: white; ">
	<hr class="style-up">
		<hr class="style-three">
			<center><div >
				<%= @description.html_safe%>
			</div></center>
		<hr class="style-up">
		<hr class="style-three">
</div>
</div>