
<div class="container" style="width: auto; background-color: white; padding-bottom: 20px;">
<center><h1>Contact Us</h1></center>


<div class="container" style="width: auto; background-color: white;">
	<hr class="style-up">
	<hr class="style-three">
	<p style="color: black; font-size: 20px;">Email: Support@PostAdz.com</p>
	<p style="color: black; font-size: 20px;">Call Us: 1-914-705-0000</p>
	<p style="color: black; font-size: 20px;">
		Whatsapp --> <a class = "btn btn-default" href="https://api.whatsapp.com/send?phone=+19147050000">Send Message</a>
	</p>
	<hr class="style-up">
	<hr class="style-three">
</div>
</div>