<div class="page">
		<div class="ad-post-wrapper section">
			<div class="container">
				<div class="row loginform" >
					<div class="col-md-4 col-md-offset-4" >
						<div class="user-form" style="text-align: center; font-size: 40px; background-color: black;">
							<form >
							    <div class="form-group">
							    	 <button class="btn btn-primary"><%=link_to "View Pubished Ads", published_adz_post_ads_path(cat_id: @cat_id, city_id: @city_id, category_id: @category_id), :style=>"color: red;", :class => "posthead"%></button>
							    	 <p style="padding-top: 10px; color: white;">OR</p>
							    	 <button class="btn btn-primary"><%=link_to "Publish Your Ad", new_post_ad_path(cat_id: @cat_id, city_id: @city_id, category_id: @category_id),  :style=>"color: red;", :class => "posthead"%></button>
							    </div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- ad-post -->
	</div>	<!-- page -->