<div class="container">
<div style="background-color: white;" >
	<div class="row" style="margin: 1px;">
		<% @continents&.each do |con|%>
		<div class="col-md-6">
			<div style="background-color: #F3F6FB; font-size: 25px; border-radius: 5px; margin-bottom: 2px; padding-left: 10px; color: red;"><b><%= con&.name%></b></div>
			<% con.countries&.each do |country|%>
			  <p><%= link_to country&.name, cities_path(id: country.id)%></p>
			<%end%>
		</div>
		<%end%>
	</div>

</div>