<div class="container">
<div style="background-color: white;" >
	<div class="row" style="margin: 1px;">
		<ul class="navbar-nav mr-auto">
		<% @continents&.each do |con|%>
		<div class="col-md-6">
		<div style="margin: 20px;">
			    <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 <b style="font-size: 25px; color: red;"><%= con&.name%></b>
                </a> 
			<% con.countries&.each do |country|%>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			  	<p><%= country&.name %></p>
			  <% country.cities.each do |city|%>
                  <a class="dropdown-item" href="<%= categories_path(id: city.id) %>"><p> <%= city.name %></p></a>
			  <%end%>
			   </div>
			<%end%>
			</li>
			</div>	
		</div>
		<%end%>
		</ul>
	</div>
</div>


