<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		#slideshow { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 340px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

#slideshow1 { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 340px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow1 > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

#slideshow2 { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 340px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow2 > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

#slideshow3 { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 340px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow3 > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}

#slideshow4 { 
  margin: 50px auto; 
  position: relative; 
  width: 240px; 
  height: 340px; 
  padding: 10px; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow4 > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
}
	</style>
	
</head>
<body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<div id="wrap">
	<div id="columns" class="columns_3">
  <figure>
  <div id="slideshow">
  <div>
    <img src="/assets/cap1.jpeg">
  </div>
  <div>
    <img src="/assets/cap2.jpeg">
  </div>
  <div>
    <img src="/assets/cap3.jpeg">
  </div>
</div>
	<figcaption style="font-size: 16px;">Black Snapback Hat Front & Back Logo (Unisex)</figcaption>
    <span class="price">$25</span>
    <a class="button" href="#">Order Now</a>
	</figure>
	
	<figure>
	<div id="slideshow1">
	  <div>
	    <img src="/assets/black_shirt_frnt.jpeg">
	  </div>
	  <div>
	    <img src="/assets/black_shirt_bck.jpeg">
	  </div>
	</div>
	<figcaption style="font-size: 16px;">Black Unisex T-Shirt Front & Back Logo (Unisex)</figcaption>
    <span class="price">$20</span>
    <a class="button" href="#">Order Now</a>
	</figure>
	
  <figure>
	<div id="slideshow2">
	  <div>
	    <img src="/assets/gray_frnt.jpeg">
	  </div>
	  <div>
	    <img src="/assets/gray_bck.jpeg">
	  </div>
	</div>
	<figcaption style="font-size: 16px;">Light Grey T-Shirt Front & Back Logo (Unisex)</figcaption>
    <span class="price">$20</span>
    <a class="button" href="#">Order Now</a>
	</figure>
  
	<figure>
	<div id="slideshow3">
	  <div>
	    <img src="/assets/black_hoddie_frnt.jpeg">
	  </div>
	  <div>
	    <img src="/assets/black_hoddie_bck.jpeg">
	  </div>
	</div>
	<figcaption style="font-size: 16px;">Black Stitched Hoodie Front & Back Logo (Unisex)</figcaption>
    <span class="price">$68</span>
    <a class="button" href="#">Order Now</a>
	</figure>
	
   <figure>
	 <div id="slideshow4">
	  <div>
	    <img src="/assets/gray_hoddie_frnt.jpeg">
	  </div>
	  <div>
	    <img src="/assets/gray_hoddie_bck.jpeg">
	  </div>
	</div>
	<figcaption style="font-size: 16px;">Grey Stitched Hoodie Front & Back Logo (Unisex)</figcaption>
    <span class="price">$68</span>
    <a class="button" href="#">Order Now</a>
	</figure>
</div>
</div>


</body>
</html>
<script >
	$("#slideshow > div:gt(0)").hide();

	setInterval(function() {
	  $('#slideshow > div:first')
	    .fadeOut(500)
	    .next()
	    .fadeIn(500)
	    .end()
	    .appendTo('#slideshow');
	}, 5000);
	$("#slideshow1 > div:gt(0)").hide();

	setInterval(function() {
	  $('#slideshow1 > div:first')
	    .fadeOut(500)
	    .next()
	    .fadeIn(500)
	    .end()
	    .appendTo('#slideshow1');
	}, 6000);

$("#slideshow2 > div:gt(0)").hide();

	setInterval(function() {
	  $('#slideshow2 > div:first')
	    .fadeOut(500)
	    .next()
	    .fadeIn(500)
	    .end()
	    .appendTo('#slideshow2');
	}, 8000);

$("#slideshow3 > div:gt(0)").hide();

	setInterval(function() {
	  $('#slideshow3 > div:first')
	    .fadeOut(400)
	    .next()
	    .fadeIn(400)
	    .end()
	    .appendTo('#slideshow3');
	}, 4000);

$("#slideshow4 > div:gt(0)").hide();

	setInterval(function() {
	  $('#slideshow4 > div:first')
	    .fadeOut(400)
	    .next()
	    .fadeIn(400)
	    .end()
	    .appendTo('#slideshow4');
	}, 6000);


</script>
