<div class="container" style="width: auto; background-color: white;">
	<center><h1>Terms & Conditions</h1></center>
	<hr class="style-up">
	<hr class="style-three">
	    <center style= "margin: -50px; "><div class="container about" style="margin: auto; width: 70%; color: black; text-align: left; border: 1px solid black;">
	   <p  style="width: auto; font-size: 20px;"><%= @description.html_safe%></p>
	</div></center>
	<hr class="style-up" style="margin-top: 50px;">
	<hr class="style-three">
</div>