<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
    <h1>Welcome to Postadz.com</h1>
    <p>
      You have successfully posted your Ad.
      <br>
    </p>
    <p>
      Visit your Manage Post page , just follow this link: <a class="btn" href= "<%= post_ads_url %>">Click here</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
    </div>
  </body>
</html>