<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
    <h3>Thank you for posting with <span style="color: red;"> Postadz.com</span></h3>
    <p>
      You have successfully posted your Ad.
      <br>
    </p>
    <p>
      Visit your Manage Post page , just follow this link: <a class="btn" href= "<%= post_ads_url %>">Click here</a>
    </p>
    <div class="image"><center>
      <%= image_tag image_path('logo.png') %>
      <img src="<%= @image %>">
    </center>
    </div>

  </body>
</html>