<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="container">
    <h3>Thank you for posting with <span style="color: red;"> Postadz.com</span></h3>
    <p>
      You have successfully posted your Ad.
      <br>
    </p>
    <p>
      Visit your Manage Post page , just follow this link: <a class="btn" href= "<%= post_ads_url %>">Click here</a>
    </p>
    <div class="image"><center>
      <img src="https://drive.google.com/file/d/14i9qN5m7_P3grKf59WfGMn8WVJ5RKQIn/view?usp=sharing" width="60" height="60">
    </center>
    </div>

  </body>
</html>