<div class="container">

<h1 style="color: white;">Post Ad
	<%if current_user.present?%>
     <%= link_to "Published Ads", published_adz_post_ads_path(cat_id: @sub_category_id, city_id: @city&.id, category_id: @category_id), :class=>"btn", :style => " background-color: white; font-weight: bold; color: black; float: right;" %>
     <% end %>
</h1>


<%= render 'form', post_ad: @post_ad %>

<%= link_to 'Back', post_ads_path %>
</div>