<div class="container" style="color: white;">
<p id="notice"><%= notice %></p>
<%@cities.each do |e|%>
  <%= link_to e.name, published_adz_post_ads_path(city_id: e.id, cat_id: @sub_category_id, category_id: params[:category_id]), :style => "color: red;"%> ||
<%end%>

<h1>Published Ads</h1>

<table class="table" >
  <thead>
    <tr>

      <!-- <th>Location</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Description</th>
      <th>status</th> -->

    </tr>
  </thead>

  <tbody>
    <% @post_ads.order("created_at DESC").each do |post_ad| %>
      <tr>
        <td><%= link_to post_ad.title, post_ad, :style => "color: white;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>