<div class="container" style="width: auto; background-color: black; margin: 40px 50px 0px 50px;">
	
	<center style= "margin: 0px -50px 0px -50px;">
		<div class="container" style="background-color: white; width: 50%; border: 5px solid red;">
			<h3>Disclaimer:</h3>
		 <p style="text-align: justify;">Love personals are to be accessed only by persons who are 21 years of age or older (and is not considered to be a minor in his/her state of residence) and who live in a community or local jurisdiction where nude pictures and explicit adult materials are not prohibited by law. By accessing <a href = "postadz.com" >PostAdz.com</a> you are representing to us that you meet the above qualifications. A false representation may be a criminal offense.
		I confirm and represent that I am 21 years of age or older (and am not considered to be a minor in my state of residence) and that I am not located in a community or local jurisdiction where nude pictures or explicit adult materials are prohibited by any Law. I agree to report any illegal services or activities which violate the Terms of Use. I also agree to report suspected exploitation of minors and/or human trafficking to appropriate authorities. 

		By clicking below you are stating you agree with our <a href ="/dashboard/privacy">policy</a> and <a href = "dashboard/terms">terms</a> and your confirming that your 21+ older.</p>

		<%= link_to "I'm 21+", new_post_ad_path(cat_id: @cat_id, city_id: @city&.id, category_id: @category.id), class:"btn", style:"background-color: red; color: black;" %>
		<%= link_to "Exit", sub_categories_path, class:"btn", style:"background-color: red; color: black;" %>
	</div></center>
</div>