 button.pop {
	 margin-top: 20px;
	 background-image: linear-gradient(red, yellow);
	 border: 1px solid white;
	 color: #fff;
	 font-size: 20px;
	 padding: 10px 20px;
	 border-radius: 10px;
}
 button.pop:hover {
	 background-image: linear-gradient(red, yellow);
	 color: #fff;
	 border: 1px solid white;
	 transition: all 0.3s ease 0s;
	  border-radius: 10px;
}
 