/* lg */ 
@media (min-width: 1200px) and (max-width: 1400px) {
	.lang{
		float: right; margin-top: 20px; margin-bottom: 30px;
	}
	.lang_btn{
		width: 2.1in; border: 2px solid black; height: 45px; padding-right: 70px; float: right;
	}
	.hidden_lang{
		float: right;  margin-top: -43px; flex-flow: row nowrap; color: transparent; background-color: transparent;
	}
	.hidden_lang_btn{
		float: right; margin-bottom: 10px; border: 1px solid white; border-radius: 5px; width: 1.9in; text-align: left; display: flex; line-height: 2px; background-color: transparent;
	}

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	.lang{
		float: right; margin-top: 20px; margin-bottom: 30px;
	}
	.lang_btn{
		width: 2.1in; border: 2px solid black; height: 45px; padding-right: 70px; float: right;
	}
	.hidden_lang{
		float: right;  margin-top: -43px; flex-flow: row nowrap; color: transparent; background-color: transparent;
	}
	.hidden_lang_btn{
		float: right; margin-bottom: 10px; border: 1px solid white; border-radius: 5px; width: 1.9in; text-align: left; display: flex; line-height: 2px; background-color: transparent;
	}

	.btn1{
		padding-left: 25px;
	}
	.btn2{
		padding-left: 25px;
	}
	
	.topbar li {
	    margin-right: 10px;
	}
	.top-social li{
		margin-right: 0;
	}
	.search-section > ul > li, 
	.search-section > ul > li:nth-child(3) {
		width: 25%;
	}
	#avt-category .category-avt {
		min-height: 325px;
	}
	.grid-view-tab.tab-content .item-wrap {
		min-height: 440px;
	}
}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {

	.lang{
		float: right; margin-top: 20px; margin-bottom: 30px;
	}
	.lang_btn{
		width: 2.1in; border: 2px solid black; height: 45px; padding-right: 70px; float: right;
	}
	.hidden_lang{
		float: right;  margin-top: -43px; flex-flow: row nowrap; color: transparent; background-color: transparent;
	}
	.hidden_lang_btn{
		float: right; margin-bottom: 10px; border: 1px solid white; border-radius: 5px; width: 1.9in; text-align: left; display: flex; line-height: 2px; background-color: transparent;
	}


	.btn1{
		padding-left: 25px;
	}
	.btn2{
		padding-left: 25px;
	}
	.topbar li {
	    margin-right: 5px;
	}
	.search-section > ul > li, 
	.search-section > ul > li:nth-child(3) {
		width: 50%;
		margin-bottom: 7px;
	}
	.search-section {
		height: 180px;
	}
	.tab-view {
		display: none;
	}
	.tab-content.list-view-tab .item-wrap {
		width: 50%;
	}
	.item .item-image, 
	.item .item-description {
	    width: 100%;
	    float: none;
	}
	.footer-widget.link-widget li {
		float: none;
		width: 100%;
	}
	.nav-tabs > li a {
		padding: 10px 35px;
	}
	.page .tab-content.small-view-tab .item-wrap {
		width: 50%;
	}
	.post-inner .choose-option, .post-inner .form-control {
		margin-bottom: 15px;
	}
}


/* xs */
@media (max-width: 767px) and (min-width: 491px){

	.lang{
		float: right; margin-top: 20px;
	}
	.lang_btn{
		width: 2.1in; border: 2px solid black; height: 45px; padding-right: 70px; float: right;
	}
	.hidden_lang{
		margin-top: -43px; flex-flow: row nowrap; color: transparent; background-color: transparent;
	}
	.hidden_lang_btn{
		float: right; margin-top: -43px; margin-bottom: 10px; border: 1px solid white; border-radius: 5px; width: 1.9in; text-align: left; display: flex; line-height: 2px; background-color: transparent;
	}

	.btn1{
		text-align: center;
	}

	
	.about
	{
		width: 250px;
	}
	.mobileview
	{
		column-count: 2;
	}
	.loginform
	{
		margin-top: -10px;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	.user-section {
		float: left;
		margin-top: -20px;
		margin-right: 5px;
	}
	.user-section li {
		margin-left: 0;
	}
	.topbar li {
	    margin-right: 5px;
	}
	.topbar li font{
	    margin-right: 5px;
	    float: right;
	}
	.topbar, .top-social li a, 
	.user-section li a, 
	.nav li a, 
	.navbar-default .navbar-nav > li > a, 
	.navbar-nav .dropdown-menu > li > a {
		font-size: 12px;
	}
	.top-social li{
		margin-right: 0;
	}
	#header a.btn {
	    padding: 5px 0px;
	    font-size: 12px;
	}
	.navbar-brand {
	    margin-top: 0;
	    padding-top: 10px;
	}
	.navbar-brand:hover {
	    background-color: black;
	}
	.nav li a, 
	.navbar-default .navbar-nav > li > a {
		line-height: 20px;
	}

	.navbar-nav .open .dropdown-menu {
		background-color: #f0f0f0;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, 
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
		color:#00a651
	}
	#home-section .slider-content {
	    margin-top: 70px;
	}
	#home-section h2 {
		font-size: 36px;
	}
	.btn.btn-primary {
		font-size: 14px;
	}
	.search-section > ul > li, 
	.search-section > ul > li:nth-child(3) {
		width:100%;
	}
	.search-section {
		height:250px;
		padding: 25px;
	}
	.section {
	    padding: 24px 0 35px;
	    margin-bottom: 30px;
	}
	.section-title {
		margin-bottom: 35px;
	}
	.call-to-act h1 {
		font-size: 38px;
	}
	.call-to-act h1 span {
		font-size: 22px;
	}
	.tab-view {
		display: none;
	}
	.nav-tabs > li a {
		padding: 8px 20px;
	}
	.category-tab .nav-tabs > li {
		margin-right: 0;
	}
	.tab-content.list-view-tab .item-wrap, .item .item-image, 
	.item .item-description {
	    width: 100%;
	    float:none;
	}
	.item-price, .item-post-date {
		font-size: 14px;
	}
	.item .item-title h3 {
	    font-size: 20px;
	    margin-top: 15px;
	}
	.tab-content .item-wrap {
		margin-top: 15px;
	}
	.view-all-ads {
	    margin-top: 50px;
	}
	#call-to-act {
		padding:35px 0;
	}
	.entry-meta {
		margin-left: 0;
	}
	#bog-section {
		padding-bottom: 50px;
	}
	#newsletter {
		font-size: 16px;
	}
	.newsletter .input-email {
		font-size: 14px;
	}
	.footer-widget {
		overflow: hidden;
	}
	.footer-widget h3 {
		font-size:16px;
		margin-bottom: 20px;
	}
	.footer-bottom {
		text-align: center;
	}
	.payment-opt-icons {
	    float: none;
	    display: inline-block;
	    margin-top: 5px;
	}
	#breadcrumb-section h1 {
		font-size: 24px;
		margin-bottom: 0;
	}
	.search-section {
		margin-top: 65px;
	}
	.page .tab-content.small-view-tab .item-wrap {
		width: 100%;
	}
	.location-map {
		margin-bottom: 30px;
	}
	.faq-filter ul li {
		font-size: 14px;
		margin-right: 10px;
	}
	.post-inner .choose-option, .post-inner .form-control {
		margin-bottom: 15px;
	}
	.post-comments, .comment-box {
		padding:25px;
	}
	.blog-detail .entry-content {
	    padding: 25px;
	    padding-left: 25px;
	}
	.blog-detail .date {
		margin-top: -70px;
	}
}

/* XS Portrait */
@media (max-width: 490px) {

	.lang{
		float: right; margin-top: 20px; margin-bottom: 30px;
	}
	.lang_btn{
		width: 2.1in; border: 2px solid black; height: 45px; padding-right: 70px; float: right;
	}
	.hidden_lang{
		float: right;  flex-flow: row nowrap; color: transparent; background-color: transparent;
	}
	.hidden_lang_btn{
		float: right; margin-top: -43px; margin-left: 40px; margin-bottom: 10px; border: 1px solid white; border-radius: 5px; width: 1.9in; text-align: left; display: flex; line-height: 2px; background-color: transparent;
	}
	.entry-content .entry-title {
		font-size: 18px;
	}
	.entry-meta span {
	    padding: 0 5px;
	    font-size: 12px;
	}
	li font{
		font-size: 10px;
	}
	.list-line li font{
		float: right;

	}
	li font{
		width: 40px;
	}
	.list-line li {
		width: 100px;
	}

	.iphone font{

	}
	.iphone{
		width: 300px;
	}
	.btn1 .btn{
		padding: 5px;
	    overflow: hidden;
	    width: 270px;
	    padding-left: -25px;
	}
	.btn1 .btn font{
		padding: 0px;
	    overflow: hidden;
	    width: 270px;
	    padding-left: -25px;
	}
	.btn2 .btn{
		padding: 5px;
	    overflow: hidden;
	    width: 270px;
	}
	.btn2 .btn font{
		padding: 0px;
	    overflow: hidden;
	    width: 270px;
	}

}