<div class="container">
<h2><%= @city&.name%></h2>
  <div class="row" style="margin: 1px; ">
      <% @categories&.each do |cat|%>
      <div class="col-md-4" style="column-width: auto;">
        <div  style="color: red; font-size: 1em; background-color: white; border-radius: 10px; padding-left: 10px; font-size: 20px;"><%= cat.name%></div>
        <%cat.sub_categories.each do |subc|%>
        	<p style="margin: 10px;"><%= link_to subc&.name, dashboard_decide_path(cat_id: subc.id, city_id: @city.id, category_id: cat.id), :style => "color: white; font-size: 15px;"%></p>
        <%end%>
        </div>
      <%end%>
  </div>
</div>