<div class="container-fluid header" style="height: 180px; padding-top: 40px;">
	<div class="row">
		<div class="col-sm-6">
			<%= image_tag("new111.png", :alt => "Logo", :class => "logo") %>
		 </div>
		<div class="col-sm-6" style="text-align: right; padding-top: 40px;font-size: 30px;"> POST </div>
	</div>
	
</div>
<hr style="border-bottom: 1px solid white;">