
<center>
	<h1><%= t('report_recaptcha_h')%></h1>
	<div>
<%= recaptcha_tags %>
<%= link_to t('report_recaptcha_submit'), reports_path(post_ad_id: @post_ad_id, user_id: current_user&.id), :class => "report", class:"btn", style:"background-color: red; color:white;", :method => :post %></div>
</center>